input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background: #ec4899; /* pink-500 */
  cursor: pointer;
  border: 2px solid white;
  margin-top: -6px; /* align vertically */
}

input[type='range']::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background: #ec4899;
  cursor: pointer;
  border: 2px solid white;
}
